{% extends "_base.html" %}

{% block conteudo %}
Página de compromissos

<h3>Filtrar</h3>
<form action="compromissos.php" method="get">
<select name="filtro">
    <option value="0">*Selecione uma opção*</option>
    <option value="asc_data">Crescente(Data)</option>
    <option value="dsc_data">Decrescente(Data)</option>
    <option value="asc_titulo">Cresente(Nome)</option>
    <option value="dsc_titulo">Decrescente(Nome)</option>

</select>
<input type="submit" value="Enviar">
</form>

<h3>Adicionar compromisso</h3>
<form action="compromisso_adc.php" method="post">
    <input type="text" name="titulo" placeholder="Nome do compromisso">
    <input type="date" name="data">

    <input type="submit" value="Adicionar">
</form>

<h3>Minha lista de compromissos</h3>
<ul>
    {% for compromisso in compromissos %}
        <li>
            {{ compromisso.titulo }}
            {{ compromisso.data }}
            {% if compromisso.f_semana == 1 %}
                 É fim de semana! 
            {% else %}
                 Não é fim de semana :( 
            {% endif %}
            |
            <a href="compromissos_editar.php?id={{ compromisso.id }}">Editar</a>
            |
            <a href="compromissos_apagar.php?id={{ compromisso.id }}">X</a>
        </li>
    {% endfor %}
</ul>


{% endblock %}